extends layout 

block content 
    
    h1 #{makeup.prodName} 
    h4 Review Created By: #{user.username}
    h3 Rating: #{makeup.rating}/5 Stars
    h3 Type of Product:  #{makeup.type}
    h3 Review: #{makeup.review}

   
    br
    br
    if user
        if user._id == makeup.posted_by
            a(href="/app/edit/" + makeup._id, class='btn') Edit
            a(href="/app/delete/" + makeup._id) Delete
